{% extends "mealmageapp/base.html" %}

{% block content %}

<table>
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>
	<tr> <!-- Dates will be shown in this table row -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		
		
	</tr>
</table>		


{% endblock content %}