{% extends 'mealmageapp/base.html' %}

{% block content %}

	<p>Dish: {{ dish }}</p>
	
			<p>Dish Type:  {{ dish.dish_type }}</p>
			<p>Meal Type:  {{ dish.meal_type }}</p>
			<p>Cuisine Type:  {{ dish.cuisine_type }}</p>
			<p>Ingredients:  
				<ul>
					<li>{{ dish.ingredient01 }}</li>
					<li>{{ dish.ingredient02 }}</li>
					<li>{{ dish.ingredient03 }}</li>
					<li>{{ dish.ingredient04 }}</li>
					<li>{{ dish.ingredient05 }}</li>
					<li>{{ dish.ingredient06 }}</li>
					<li>{{ dish.ingredient07 }}</li>
					<li>{{ dish.ingredient08 }}</li>
					<li>{{ dish.ingredient09 }}</li>
					<li>{{ dish.ingredient10 }}</li>
					<li>{{ dish.ingredient11 }}</li>
					<li>{{ dish.ingredient12 }}</li>
					<li>{{ dish.ingredient13 }}</li>
					<li>{{ dish.ingredient14 }}</li>
					<li>{{ dish.ingredient15 }}</li>
				</ul>
			</p>
			<p>Recipe:  {{ dish.recipe }}</p>

<!-- Need add Update and Delete buttons (will send to a page with a form for that) -->

<a class="btn btn-sm btn-secondary" href="{% url 'mealmageapp:dishes' %}">Back to Dishes</a>

<a class="btn btn-sm btn-primary" href="{% url 'mealmageapp:updatedish' dish.id %}">Update Dish</a>

<a class="btn btn-sm btn-danger" href="{% url 'mealmageapp:dish_delete' dish.id %}">Delete</a>

{% endblock content %}