{% extends "mealmageapp/base.html" %}

{% block header %}
	<div class='jumbotron'>
		<h1>Meal planning made easy!</h1>
	</div>	
{% endblock header %}


{% block content %}
	<h2>
		In today's busy world, the number of decisions we have to make each day can get overwhelming. Let's take some of those decisions off your metaphorical plate, and get some delicious food on your actual plate. Meal Mage makes meal planning with your favorite recipes a snap. 
		<a href="{% url 'users:register' %}">Register</a> today so you can 
		finally have an answer to "What's for Dinner?"
  </h2>
{% endblock content %}