{% extends "mealmageapp/base.html" %}

{% block content %}


<table>
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>
	<tr>
		<td>{{ sun_date }}</td>
		<td>{{ mon_date }}</td>
		<td>{{ tue_date }}</td>
		<td>{{ wed_date }}</td>
		<td>{{ thu_date }}</td>
		<td>{{ fri_date }}</td>
		<td>{{ sat_date }}</td>
	</tr>
	<tr>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		<td>
		Breakfast:<br>
		Lunch:<br>
		Dinner:<br>
		Dessert:<br>
		Snacks:<br>
		</td>
		
		
	</tr>
</table>

<!-- <form action="" method='post'>
		{% csrf_token %}
		<button class="btn btn-sm btn-secondary" name="prev_week">Previous Week</button>
	</form>

<form action="" method='post'>
		{% csrf_token %}
		<button class="btn btn-sm btn-secondary" name="next_week">Next Week</button>
	</form> -->


{% endblock content %}